<div class="modal">
    <div id="acuerdo-modal">
        <div class="modal-first-row">
            <h3 class="modal-first-row-titles modal-id">ID: </h3>
            <h3 class="modal-first-row-titles modal-responsable modal-text">Responsable: </h3>
            <input type="text" class="modal-input" name="responsable">
            <h3 class="modal-first-row-titles modal-email modal-text">Email: </h3>
            <input type="text" class="modal-input" name="email">
            <h3 class="modal-first-row-titles modal-urgencia modal-text">Urgencia: </h3>
            <input type="text" class="modal-input" name="urgencia">
            <h3 class="modal-first-row-titles modal-fecha modal-text">Fecha: </h3>
            <input type="text" class="modal-input" name="fecha">
        </div>
        <div class="modal-second-row">
            <h3>Decisión: </h3>
            <div class="modal-decision modal-text"></div>
            <textarea class="modal-input" rows="4" cols="50" name="decision"></textarea>
        </div>
        <div class="modal-third-row">
            <h3>Comentarios: </h3>
            <div class="modal-comentarios modal-text"></div>
            <textarea class="modal-input" rows="4" cols="50" name="comentarios"></textarea>
        </div>
        <div class="modal-fourth-row">
            <button class="modal-button modal-edit">Editar</button>
            <button class="modal-button modal-cancel">Cancelar</button>
            <button class="modal-button modal-complete">Marcar como completado</button>
        </div>
    </div>
</div>
