<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Taskmanager by ArianJM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' media="screen">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/table.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/acuerdo-modal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/jquery.modal.min.css" media="screen" />

    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- Google Authorization -->
    <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
    <script src="https://apis.google.com/js/client.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
</head>
