<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Taskmanager by ArianJM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen">

    <script src="jquery-3.1.1.min.js"></script>
    <!-- Google Authorization -->
    <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="script.js" type="text/javascript"></script>
</head>
